<h1>Order An Ice Cream Cone</h1>
<form>
  <div class="control" data-controller="radio-selection-toggle">
    <label class="radio">
      <input type="radio" name="order[flavor]" value="chocolate" data-target="radio-selection-toggle.radioButton" data-action="radio-selection-toggle#toggle">
      Chocolate
    </label>
    <div hidden="true" data-target="radio-selection-toggle.modal">A real treat.</div>
  </div>
  <div class="control" data-controller="radio-selection-toggle">
    <label class="radio">
      <input type="radio" name="order[flavor]" value="vanilla" data-target="radio-selection-toggle.radioButton" data-action="radio-selection-toggle#toggle">
      Vanilla
    </label>
    <div hidden="true" data-target="radio-selection-toggle.modal">Subtle tropical flavors.</div>
  </div>
  <div class="control" data-controller="radio-selection-toggle">
    <label class="radio">
      <input type="radio" name="order[flavor]" value="strawberry" data-target="radio-selection-toggle.radioButton" data-action="radio-selection-toggle#toggle">
      Strawberry
    </label>
    <div hidden="true" data-target="radio-selection-toggle.modal">Sweet and fruity.</div>
  </div>
  <input type="submit" value="Finish Order">
</form>
